beautifulsoup4
behave
fake-factory
nose
mandrill
PyVirtualDisplay
requests
selenium
temp-mail
git+http://github.com/APodobytkorps/webium#egg=webium
git+http://github.com/KorolevskyMax/jUnitXML2HTML#egg=jUnitXML2HTML
